<h1>RelatorioHoras#visualizar</h1>
<p>Find me in app/views/relatorio_horas/visualizar.html.erb</p>
<div id="horas">
  <h1>Semana 1</h1>
  <table>
    <tr> <th> CheckIn </th> <th> ChekOut </th> <tr>
    <tr>
      <td>
       Dia 1
      </td>
      <td>

      </td>
     </tr>
   </table>
</div>

