<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <title>Hora Feliz</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag "style.css" %>


</head>

  <div style="display: none;" id="_firebugConsole"></div>
	  <body id="pages_index_prices" class="page">
		<div id="inner_body">
		<div id="header">
			<div id="header_inner_1">
                                <% if user_signed_in? %>
                                  Olá <%= current_user.email %>
                                <% end %>
				<div id="header_inner_2">
				</div>
			</div>
		</div>
		<div id="title">
			<div id="title_inner_1">
				<div id="title_img"></div>
				<div id="title_inner_2"  >
				  <ul>
						<li><a href="http://www.google.com.br">Checkin/Checkout</a></li>
						<li><a href="http://www.google.com.br" >Relatório Por Período</a></li>
						<li><a href="http://www.google.com.br">Relatório Mensal</a></li>
						<li><a href="http://www.google.com.br">Relatório Anual</a></li>
					</ul>
				</div>
			</div>
		</div>

                <div id="container">
                  <div id="table">
                    <%= yield %>
                  </div>
		</div>
	</body>
</html>

